CONFIG_PACKAGE_luci-app-qmodem=y
CONFIG_PACKAGE_luci-app-qmodem_USE_TOM_CUSTOMIZED_QUECTEL_CM=y
CONFIG_PACKAGE_luci-app-qmodem_INCLUDE_generic-qmi-wwan=y
CONFIG_PACKAGE_luci-app-qmodem-sms=y
CONFIG_PACKAGE_luci-i18n-qmodem-ru=y
CONFIG_PACKAGE_luci-i18n-qmodem-sms-zh-cn=y
CONFIG_PACKAGE_luci-i18n-qmodem-zh-cn=y
CONFIG_PACKAGE_tom_modem=y
CONFIG_PACKAGE_tom_modem_EARLY_RETURN=y
CONFIG_PACKAGE_tom_modem_ENABLE_UBUS_DAEMON=y
CONFIG_PACKAGE_quectel-CM-5G-M=y
CONFIG_PACKAGE_qmodem=y
CONFIG_PACKAGE_ubus-at-daemon=y
